@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --bchcLightBlue: #ccdfe8;
  --bchcLighterBlue: #f0f8fc;
  --bchcGray: #faf9f6;
  --uhcBlue: #07294d;
  --uhcBrightBlue: #006298;
  --uhcGreenTone: #bac5b9;
  --uhcLightBlue: #6cace4;
  --uhcYellow: #ffc600;
  --uhcOrange: #de7c00;
  --uhcGray: #f3f3f3;
  --uhcLime: #b7bf10;
  --uhcGray2: #a7a8aa;
  --uhcGray3: #8f8f91;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

/* Authentication */
.auth_container {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  position: relative;
  top: -70px;
}

.auth_container .auth {
  grid-column: 2 / 3;
  padding: 20px;
  background-color: var(--bchcGray);
  margin-top: 25px;
  margin-bottom: 25px;
  border: black solid 1px;
}
