:root {
  --link-red: #d73027;
  --link-green: #1a9850;
}
.tableRow .linkCellContainer {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.tableRow .linkCell {
  width: 20px;
  height: 8px;
  border-radius: 5px;
  font-size: 0;
}
.tableRow .Positive {
  background-color: var(--link-green);
}

.tableRow .Negative {
  background-color: var(--link-red);
}

/* Filter */
.ag-header-cell-filtered {
  background-color: var(--uhcBrightBlue) !important;
  color: #fff !important;
}

.ag-header-cell-filtered span {
  color: #fff !important;
}
