:root {
  --negativeOnly: #ea221b;
  --negativeSome: #e98c8f;
  --both: #ffc000;
  --positiveSome: #a9d08e;
  --positiveOnly: #0daf55;
}

.policyCol {
  width: 150px;
  font-weight: 900;
}

.status {
  width: 50px;
  height: 30px;
  border-radius: 25px;
  padding: 5px;
}
.status-np {
  background: white;
  color: white;
}
.status-ns {
  background: var(--negativeSome);
  color: var(--negativeSome);
}
.status-no {
  background: var(--negativeOnly);
  color: var(--negativeOnly);
}
.status-bo {
  background: var(--both);
  color: var(--both);
}
.status-ps {
  background: var(--positiveSome);
  color: var(--positiveSome);
}
.status-po {
  background: var(--positiveOnly);
  color: var(--positiveOnly);
}

/*  Example CSS */
.status-paid {
  background: hsl(116, 60%, 90%);
  color: hsl(116, 30%, 25%);
}

.status-pending {
  background: hsl(230, 70%, 90%);
  color: hsl(230, 45%, 30%);
}

.status-canceled {
  background: hsl(350, 70%, 90%);
  color: hsl(350, 45%, 30%);
}
