/* Title */
.donutTitleBigFont {
  font-size: 35px;
}
.donutTitleSmallFont {
  font-size: 15px;
}

/* Tooltip */
.donutTooltip {
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  display: grid;
  grid-gap: 3px;
}
.donutTooltipIcon {
  color: white;
  font-size: 35px;
}
.donutTooltipName {
  font-size: 15px;
}
.donutTooltipCount {
  font-size: 15px;
  font-weight: bolder;
}
