/* Footer Container */
.footer {
  display: grid;
  height: 150px;
  background-color: var(--uhcBlue);
  justify-items: end;
  align-items: center;
}
.footer img {
  padding-right: 5%;
}
/* Header Container */
.BCHC-header {
  display: grid;
  grid-auto-rows: auto auto;
  background: url('../img/home-hero-bg.jpg');
  background-size: cover;
  background-position: 50%;
  padding-bottom: 30px;
}

/* Header Second Row row */
.BCHC_second_row {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  height: auto;
  /* background-color: var(--bchcLighterBlue); */
  border-top: rgba(204, 223, 232, 0.5) solid 10px;
}
.BCHC_second_row .BCHC_logo {
  height: 175px;
  padding: 20px;
  position: relative;
  top: -90px;
}
.BCHC_second_row .title {
  justify-self: center;
  line-height: 38px;
  align-self: center;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}
.BCHC_second_row .share {
  align-self: end;
  justify-self: start;
  padding: 23px;
  font-size: 18px;
  color: var(--uhcBrightBlue);
}
.BCHC_second_row .share:hover {
  color: var(--uhcBlue);
  cursor: pointer;
}
.BCHC_second_row .share i {
  font-size: 18px;
  padding-right: 5px;
}

/* Header Top row */
.BCHC_top_row {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
  background-color: var(--uhcBlue);
}
.BCHC_learn_more {
  padding: 23px;
  justify-self: start;
}
.BCHC_learn_more_text {
  color: var(--uhcGray2);
  font-size: 11px;
}
.BCHC_learn_more_link {
  color: white;
  font-size: 14px;
  font-weight: 900;
  text-decoration: none;
}
